<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Georgia State University</li>
    <li>Department of Themes</li>
    <li>123 Main St, Anytown, USA</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>None</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>None</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:lilly.masie9@gmail.com">lilly.masie9@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://souparathon.github.io/">https://souparathon.github.io/</a></li>
  </ul>
</div>
